/* ============================= */
/*           GLOBAL              */
/* ============================= */

body {
    margin: 0;
    background: linear-gradient(135deg, #667eea, #764ba2);
    font-family: 'Segoe UI', sans-serif;
    min-height: 100vh;
}

.main-wrapper {
    width: 100%;
    max-width: 1100px;
    margin: 60px auto;
    padding: 20px;
}

.app-card {
    background: white;
    border-radius: 25px;
    padding: 50px;
    box-shadow: 0 30px 80px rgba(0,0,0,0.15);
}

/* ============================= */
/*           HEADER              */
/* ============================= */

.title {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 10px;
}


/* ============================= */
/*         UPLOAD BOX            */
/* ============================= */

.upload-box {
    border: 2px dashed #667eea;
    border-radius: 20px;
    padding: 50px;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
    margin-bottom: 25px;
}

.upload-box:hover {
    background: #f5f7ff;
}

.upload-content p {
    font-weight: 600;
    font-size: 20px;
    margin: 0;
}

.upload-content span {
    font-size: 15px;
    color: #888;
}

.btn-gradient {
    background: linear-gradient(135deg, #667eea, #764ba2);
    border: none;
    padding: 14px;
    border-radius: 12px;
    font-weight: 600;
    width: 50%;
    color: white;
    font-size: 20px;
    transition: 0.3s;
}

.btn-gradient:hover {
    opacity: 0.9;
}

/* ============================= */
/*       UPLOADED IMAGE          */
/* ============================= */

.uploaded-section {
    margin-top: 50px;
}

.file-name {
    font-weight: 600;
    margin-bottom: 15px;
    color: #444;
}

.uploaded-full img {
    width: 100%;
    max-height: 500px;
    object-fit: contain;
    border-radius: 25px;
    box-shadow: 0 20px 60px rgba(0,0,0,0.15);
    background: white;
    padding: 25px;
}

/* ============================= */
/*          RESULTS              */
/* ============================= */

.results-section {
    margin-top: 70px;
}

.results-title {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 40px;
}

/* ============================= */
/*     FULL WIDTH FONT CARD      */
/* ============================= */

.font-result {
    margin-bottom: 60px;
}

.font-preview-full {
    background: white;
    border-radius: 30px;
    padding: 60px 50px;
    box-shadow: 0 25px 80px rgba(0,0,0,0.08);
    transition: 0.3s ease;
}

.font-preview-full:hover {
    transform: translateY(-8px);
    box-shadow: 0 35px 100px rgba(0,0,0,0.18);
}

.font-preview-full img {
    width: 100%;
    height: auto;
}

.font-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 0 10px;
}

.font-name {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}

.similarity {
    font-size: 14px;
    color: #555;
    background: #eef1ff;
    padding: 8px 14px;
    border-radius: 25px;
}